<?xml version="1.0" encoding="utf-8"?>
<robot name="dvrk_instrument_tip_006" xmlns:xacro="http://www.ros.org/wiki/xacro">

  <xacro:include filename="$(find dvrk_model)/urdf/common.urdf.xacro"/>

  <xacro:macro name="tip_006" params="prefix">
    <joint name="jaw" type="revolute">
      <parent link="${prefix}wrist_yaw_link"/>
      <child link="${prefix}jaw_link"/>
      <axis xyz="0.0 0.0 1"/>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <limit lower="-0.349066" upper="1.39626" velocity=".4" effort="1000"/>
    </joint>

    <link name="${prefix}jaw_link">
      <visual>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        <geometry><box size="0 0 0"/></geometry>
      </visual>
    </link>

    <joint name="jaw_1" type="revolute">
      <parent link="${prefix}wrist_yaw_link"/>
      <child link="${prefix}jaw_1_link"/>
      <axis xyz="0.0 0.0 1"/>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0 0.0"/>
      <limit lower="-1.5707" upper="1.5707" velocity=".4" effort="1000"/>
      <mimic joint="jaw" multiplier="0.5"/>
    </joint>

    <link name="${prefix}jaw_1_link">
      <visual>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/instruments/tip/006/tip_006_1.obj"/>
        </geometry>
      </visual>
      <collision name="jaw_1_collision_00">
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/instruments/tip/006/collision_hulls/tip_006_1_convex_hull_00.obj"/>
        </geometry>
        <material name="collision_red"><color rgba="1.0 0.0 0.0 1.0"/></material>
      </collision>
      <collision name="jaw_1_collision_01">
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/instruments/tip/006/collision_hulls/tip_006_1_convex_hull_01.obj"/>
        </geometry>
        <material name="collision_red"><color rgba="1.0 0.0 0.0 1.0"/></material>
      </collision>
      <collision name="jaw_1_collision_02">
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/instruments/tip/006/collision_hulls/tip_006_1_convex_hull_02.obj"/>
        </geometry>
        <material name="collision_red"><color rgba="1.0 0.0 0.0 1.0"/></material>
      </collision>
      <collision name="jaw_1_collision_03">
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/instruments/tip/006/collision_hulls/tip_006_1_convex_hull_03.obj"/>
        </geometry>
        <material name="collision_red"><color rgba="1.0 0.0 0.0 1.0"/></material>
      </collision>
      <collision name="jaw_1_collision_04">
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/instruments/tip/006/collision_hulls/tip_006_1_convex_hull_04.obj"/>
        </geometry>
        <material name="collision_red"><color rgba="1.0 0.0 0.0 1.0"/></material>
      </collision>
      <collision name="jaw_1_collision_05">
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/instruments/tip/006/collision_hulls/tip_006_1_convex_hull_05.obj"/>
        </geometry>
        <material name="collision_red"><color rgba="1.0 0.0 0.0 1.0"/></material>
      </collision>
      <collision name="jaw_1_collision_06">
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/instruments/tip/006/collision_hulls/tip_006_1_convex_hull_06.obj"/>
        </geometry>
        <material name="collision_red"><color rgba="1.0 0.0 0.0 1.0"/></material>
      </collision>
      <collision name="jaw_1_collision_07">
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/instruments/tip/006/collision_hulls/tip_006_1_convex_hull_07.obj"/>
        </geometry>
        <material name="collision_red"><color rgba="1.0 0.0 0.0 1.0"/></material>
      </collision>
      <collision name="jaw_1_collision_08">
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/instruments/tip/006/collision_hulls/tip_006_1_convex_hull_08.obj"/>
        </geometry>
        <material name="collision_red"><color rgba="1.0 0.0 0.0 1.0"/></material>
      </collision>
      <collision name="jaw_1_collision_09">
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/instruments/tip/006/collision_hulls/tip_006_1_convex_hull_09.obj"/>
        </geometry>
        <material name="collision_red"><color rgba="1.0 0.0 0.0 1.0"/></material>
      </collision>

    </link>

    <joint name="jaw_2" type="revolute">
      <parent link="${prefix}wrist_yaw_link"/>
      <child link="${prefix}jaw_2_link"/>
      <axis xyz="0.0 0.0 1"/>
      <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
      <limit lower="-1.5707" upper="1.5707" velocity=".4" effort="1000"/>
      <mimic joint="jaw" multiplier="-0.5"/>
    </joint>

    <link name="${prefix}jaw_2_link">
      <visual>
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/instruments/tip/006/tip_006_2.obj"/>
        </geometry>
      </visual>
      <collision name="jaw_2_collision_00">
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/instruments/tip/006/collision_hulls/tip_006_2_convex_hull_00.obj"/>
        </geometry>
        <material name="collision_red"><color rgba="1.0 0.0 0.0 1.0"/></material>
      </collision>
      <collision name="jaw_2_collision_01">
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/instruments/tip/006/collision_hulls/tip_006_2_convex_hull_01.obj"/>
        </geometry>
        <material name="collision_red"><color rgba="1.0 0.0 0.0 1.0"/></material>
      </collision>
      <collision name="jaw_2_collision_02">
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/instruments/tip/006/collision_hulls/tip_006_2_convex_hull_02.obj"/>
        </geometry>
        <material name="collision_red"><color rgba="1.0 0.0 0.0 1.0"/></material>
      </collision>
      <collision name="jaw_2_collision_03">
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/instruments/tip/006/collision_hulls/tip_006_2_convex_hull_03.obj"/>
        </geometry>
        <material name="collision_red"><color rgba="1.0 0.0 0.0 1.0"/></material>
      </collision>
      <collision name="jaw_2_collision_04">
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/instruments/tip/006/collision_hulls/tip_006_2_convex_hull_04.obj"/>
        </geometry>
        <material name="collision_red"><color rgba="1.0 0.0 0.0 1.0"/></material>
      </collision>
      <collision name="jaw_2_collision_05">
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/instruments/tip/006/collision_hulls/tip_006_2_convex_hull_05.obj"/>
        </geometry>
        <material name="collision_red"><color rgba="1.0 0.0 0.0 1.0"/></material>
      </collision>
      <collision name="jaw_2_collision_06">
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/instruments/tip/006/collision_hulls/tip_006_2_convex_hull_06.obj"/>
        </geometry>
        <material name="collision_red"><color rgba="1.0 0.0 0.0 1.0"/></material>
      </collision>
      <collision name="jaw_2_collision_07">
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/instruments/tip/006/collision_hulls/tip_006_2_convex_hull_07.obj"/>
        </geometry>
        <material name="collision_red"><color rgba="1.0 0.0 0.0 1.0"/></material>
      </collision>
      <collision name="jaw_2_collision_08">
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/instruments/tip/006/collision_hulls/tip_006_2_convex_hull_08.obj"/>
        </geometry>
        <material name="collision_red"><color rgba="1.0 0.0 0.0 1.0"/></material>
      </collision>
      <collision name="jaw_2_collision_09">
        <origin rpy="0.0 0.0 0.0" xyz="0.0 0.0 0.0"/>
        <geometry>
          <mesh filename="package://dvrk_model/meshes/instruments/tip/006/collision_hulls/tip_006_2_convex_hull_09.obj"/>
        </geometry>
        <material name="collision_red"><color rgba="1.0 0.0 0.0 1.0"/></material>
      </collision>

    </link>

    <joint name="tool_tip" type="fixed">
      <parent link="${prefix}wrist_yaw_link"/>
      <child link="${prefix}tool_tip_link"/>
      <origin rpy="0.0 ${PI_2} ${PI_2}" xyz="0.0 0.0102 0.0"/>
    </joint>
    <link name="${prefix}tool_tip_link"/>
  </xacro:macro>

</robot>
